*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #5a5a5a;
}
header{
    background-color: #5b1d1d;
    color: white;
    text-align: center;
    padding: 30px;
}