*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #5a5a5a;
}
header{
    background-color: #5b1d1d;
    color: white;
    text-align: center;
    padding: 30px;
}
header h1{
    font-size: 35px;
}
main{
    width: 95%;
    margin: 10px auto;
}
footer {
    width: 95%;
    margin: 10px auto;
}
section{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
     box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}